.productListBox {
  width: 100%;
  box-sizing: border-box;

  .productList {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));

    column-gap: 38px;
    row-gap: 46px;
    &Item {
      // margin-bottom: 0.48rem;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
    }
  }
  .row-item-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .row-item-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .row-item-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
.productItemTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
  color: var(--content-text-color);
  font-size: 13px;
}
