$--success-color: #67C23A;
$--warning-color: #FEBF42;
$--danger-color: #f56c6c;
$--text-main-color: #333;
$--text-secondary-color: #333;
$--content-background: #F7F7F7;
$--text-secondary-color: #666;
$--font-weight-bold: 600;
$--max-width: 1500px;
$--max-content-width: 1500px;
$--min-width: 1220px;
$--min-content-width: 1200px;


$--page-bg: #F5F6F8;
$--header-bg: #FFFFFF;
$--header-color: #333333;
$--header-active-color: #A89782;
$--notice-bg: #A89782;
$--notice-color: #FFFFFF;
$--primary-color: #A89782;
$--primary-btn-color: #FFFFFF;
$--secondry-btn-bg: #A89782;
$--secondry-btn-color: #FFFFFF;
$--mail-btn-bg: #615341;
$--mail-btn-color: #ffffff;
$--title-color: #333333;
$--content-text-color: #999999;
$--sale-price-color: #000000;
$--original-price-color: #999999;
$--tag-color: #FFFFFF;
$--tag-bg: #A89782;
$--sub-email-inp: #DDDDDD;
$--sub-email-inp-text: #939393;
$--sub-email-btn: #101010;
$--sub-email-btn-text: #FFFFFF;